.topicos{
    background-color: var(--cor-principal);
    padding: 1em;
    text-align: center;
    
}
.topicos__titulo{
    color:  var(--cor-fundo-body);
    font-size: 25px;
}
.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__item{
    margin: 2em 0.5em;
}
.topicos__link{
    color: var(--branco);
    font-family: var(--paragrafo);
    padding: 0.9em;
    background-color: var( --cor-terciaria);
    text-decoration: none;
    font-weight: 900;
    border-radius: 12px;
}
@media screen and (min-width:1024px){
    .topicos__titulo{
        font-size: 30px;
    }
    .topicos__item{font-size: 20px;}
}